<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HomePageUrl" value="https://dou.ua/" />
    <add key="JobPageUrl" value="https://jobs.dou.ua/" />
    <add key="CalendarPageUrl" value="https://dou.ua/calendar/" />
    <add key="JobPageTitle" value="Вакансии | DOU" />
  </appSettings>
</configuration>